APP_NAME=EXAM-API
API_VERSION=0.0.1
API_PREFIX=/api
ALGORITHMS_JWT=["RS256"]
ENVIRONMENT=LOCAL
DATABASE_HOSTNAME=sample
DATABASE_USERNAME=sample
DATABASE_PASSWORD=sample
DATABASE_PORT=5432
DATABASE_NAME=sample

SYSTEM_LOG_FILE=logs/system.log

# AWS CONFIGURE
CLIENT_ID=sample
USER_POOL_ID=sample
REGION_NAME=sample
CLIENT_SECRET=sample

# MAIL SERVER
SMTP_SERVER=sample
SMTP_PORT=587
SMTP_USERNAME=sample
SMTP_PASSWORD=sample
SMTP_FROM_MAIL=sample